@model IEnumerable<Labb_2___Linq.Models.Teacher>

@{
    ViewData["Title"] = "Index";
}

<h1>Teachers for Programmering 1</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Teacher Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var teacher in Model)
        {
            <tr>
                <td>
                    @teacher.TeacherName
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@teacher.TeacherId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@teacher.TeacherId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@teacher.TeacherId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
